.nuvola__form {
  padding: 10rem 0;
}

.nuvola__form-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nuvola__form-content-col {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.nuvola__form-content-col.col--one {
  align-items: flex-start;
}

.nuvola__form-content-col.col--two {
  max-width: 535px;
}

.nuvola__form-content-col.col--three {
  display: none;
}

.nuvola__form-content__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nuvola__form-content__form input:not([type='submit']) {
  all: unset;
  border-bottom: 1px solid var(--secondary-text);
  opacity: 0.75;
  height: 48px;
}

.nuvola__form-content-col .nuvola__form-submit {
  max-width: 240px;
  padding: 1rem 0;
  text-align: center;
  margin-top: 50px;
}

.nuvola__form-stand {
  position: relative;
  z-index: 2;
}

/* Particles */
#particle__form--blob-purple {
  top: 10px;
  left: -100px;
}

#particle__form--circle-purple {
  top: 40px;
  right: 0;
}

#particle__form--circle-pink-outline {
  top: 120px;
  right: 20px;
}

#particle__form--blob-pink {
  bottom: 0;
  right: 0;
}

#particle__form--circle-purple-01 {
  bottom: 10px;
  left: 30px;
}

@media screen and (max-width: 850px) {
  .nuvola__form-content {
    flex-direction: column;
    gap: 50px 30px;
  }

  .nuvola__form-content-col.col--one .nuvola__form-content__form {
    display: none;
  }

  .nuvola__form-content-col.col--three {
    display: flex;
  }

  #particle__form--blob-purple {
    left: -80px;
  }

  #particle__form--circle-pink-outline {
    right: -10px;
  }
}

@media screen and (max-width: 560px) {
  .nuvola__form {
    padding: 5rem 0;
  }
  .nuvola__form-content.section__padding {
    gap: none;
  }

  .nuvola__form-stand {
    transform: scale(0.7);
  }

  #particle__form--blob-purple {
    top: -80px;
    left: -80px;
  }

  #particle__form--circle-purple {
    top: 0;
    right: -50px;
  }

  #particle__form--circle-pink-outline {
    top: 60px;
    right: -50px;
  }

  #particle__form--blob-pink {
    bottom: -60px;
    right: -10px;
  }

  #particle__form--circle-purple-01 {
    bottom: -30px;
    left: 10px;
  }
}
