.nuvola__card {
  max-width: 370px;
  text-align: center;
  padding: 15px 40px 40px;
  border-radius: 0 0 10px 10px;
  transition: box-shadow 250ms ease-in-out;
}

.nuvola__card:hover {
  box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.1), 5px 5px 10px rgba(0, 0, 0, 0.1),
    0 5px 0 var(--secondary-clr) inset;
}

.nuvola__card-icon {
  background: url('../../assets/card-icon-bg.svg') no-repeat center center;
  background-size: contain;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nuvola__card-title {
  color: var(--secondary-clr);
  font-size: 24px;
  font-weight: 800;
  line-height: 27px;
  text-transform: uppercase;
  padding: 15px 0;
}

.nuvola__card-description {
  color: var(--secondary-text);
  font-size: 18px;
  font-weight: 400;
  line-height: 31.5px;
}

@media screen and (max-width: 991px) {
  .nuvola__card {
    border-radius: 10px;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.1), 5px 5px 10px rgba(0, 0, 0, 0.1);
  }

  .nuvola__card:hover {
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.1), 5px 5px 10px rgba(0, 0, 0, 0.1);
  }
}
