.nuvola__benefits{
    padding: 10rem 0;
}

.nuvola__benefits-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nuvola__benefits-content__description{
    padding-top: 20px;
    max-width: 500px;
}

.nuvola__benefits-content__grid{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    gap: 30px;
}

@media screen and (max-width: 991px){
    .nuvola__benefits-content__grid{
        flex-wrap: wrap;
    }
}