.nuvola__navbar{
    position: sticky;
    inset: 0;
    z-index: 10;
    background: #FFF;
}

.nuvola__navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.nuvola__navbar-logo img {
    max-width: 61px;
}

.nuvola__navbar-links-container > ul{
    display: flex;
    list-style: none;
    gap: 3rem;
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
}

.nuvola__navbar-links-container li > a {
    text-transform: uppercase;
    transition: color 150ms ease-in-out;
}

.nuvola__navbar-links-container li > a:hover{
    color: var(--secondary-clr);
}

.nuvola__navbar-socials-container {
    display: flex;
    gap: 1rem;
}

.nuvola__navbar-socials__img{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

/* Mobile Menu */
.nuvola__navbar-mobile-menu{
    display: none;
}

.nuvola__navbar-mobile-menu svg {
    cursor: pointer;
}

.nuvola__navbar-mobile-menu-container{
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 10;
}

.nuvola__navbar-mobile-menu-container{
    min-height: 100vh;
    padding: 2rem;
    background: rgba(95, 95, 95, 0.5);
    -webkit-backdrop-filter: blur(4.5px);
    backdrop-filter: blur(4.5px);
}

.nuvola__navbar-mobile-menu-container-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nuvola__navbar-mobile-menu-container-top svg{
    color: #FFF;
    transition: color 150ms ease-in-out;
}

.nuvola__navbar-mobile-menu-container-top svg:hover {
    color: var(--primary-clr);
}

/* Mobile Menu Links */
.nuvola__navbar-mobile-menu-container-links {
    text-align: end;
    text-transform: uppercase;
    margin-top: 2rem;
}

.nuvola__navbar-mobile-menu-container-links > ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: #fff;
}


.nuvola__navbar-mobile-menu-container-links > li{
    list-style: none;
}
.nuvola__navbar-mobile-menu-container-links li > a{
    transition: color 150ms ease-in-out;
}

.nuvola__navbar-mobile-menu-container-links li > a:hover{
    color: var(--primary-clr);
}

@media screen and (max-width: 1000px){
    .nuvola__navbar-socials-container{
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .nuvola__navbar-links-container,
    .nuvola__navbar-language{
        display: none;
    }

    .nuvola__navbar-mobile-menu{
        display: flex;
    }

}